@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  scroll-behavior: smooth;
}

.cta-btn:hover {
  background-color: #fff;
  color: #0a0a43;
}

.cta-btn2::after {
  content: "";
}
.cta-btn2:hover {
  background-color: #0a0a43;
  color: #fff;
  padding-left: 6px;
}

.circle {
  transition: 1s;
}

.circle:hover {
  background: rgb(76, 3, 112);
}

nav ul li a {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.card {
  margin: auto 20px;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.testimoni-review-box {
  width: 100px;
  height: 100px;
  margin: auto 2rem;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.testimoni-review-box:hover {
  transform: scale(1.2);
}

.active {
  transform: scale(1.2);
}

.reviewTextbox {
  width: 350px;
  height: 200px;
}

.wrapper-box {
  height: 20rem;
  margin: auto 15px;
}

input {
  width: 20rem;
}

input:focus {
  outline: none;
  padding-left: 10px;
}
