@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  scroll-behavior: smooth;
}

.cta-btn:hover {
  background-color: #fff;
  color: #0a0a43;
}

.cta-btn2::after {
  content: "";
}
.cta-btn2:hover {
  background-color: #0a0a43;
  color: #fff;
  padding-left: 6px;
}

.circle {
  transition: 1s;
}

.circle:hover {
  background: rgb(76, 3, 112);
}

nav ul li a {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.card {
  margin: auto 20px;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
